body {
  background: white;
}
#sortBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#sortBoard span{
  margin-top:auto;
  position: relative;
  width: 0.65px;
  display: inline-block;
  float: left;
}