body {
  background: black;
}
#sortBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid white;
  display: flex;
}
#element {
  margin-top:auto;
  border: 0.1px solid royalblue;
  position: relative;
  width: 0.1px;
  height: 70px;
  display: inline-block;
  float: left;
}
button{
  width: 100px;
  height: 20px;
}